h4 = "Ваша заявка участника рейтинга Top50 успешно внесена!"
= "В текущий момент она находится на рассмотрении у модераторов рейтинга."
br
= format("Ваш уникальный идентификатор заявки: %d", @app_id)
br
h4 = "Данные заявки:"
= render "top50_machines/application_data"
br
= "Благодарим за участие!"
br
= format("По всем вопросам можно обращаться на %s", @org_email)

