/*
 *= require_self
 *= require bootstrap
 *= require disable_bootstrap_responsive
 *= require select2
 *= require select2-bootstrap
 *= require bootstrap-datepicker3
 *= require rails_bootstrap_forms
 *= require_tree .
 */

.navbar  {
	background-color: #404850;
}
 
#top {
    width: 100%;
    padding: 0px;
    background: url(asset-path("bg-top.gif")) repeat-x;
    text-align: center;
    background-color: #e0e1e3;
}
#logo {
    padding: 0 15px 0 0;
}
 
#footer {
  margin-top: 7em;
  padding: 7em 0;
  border-top: 1px solid #E5E5E5;
  padding-top: 1em;
}

#mainBlock {
  font-size: 90%;
  line-height: 1.4em;
  min-width: 740px;
}

#leftBlock {
  width: 168px;
    
  font-size: 11px;
  line-height: 1.3em;
  padding: 0 15px 0 0;
}

#rightBlock {
  width: 141px;
  padding: 100px 0 0 15px;
  vertical-align: top;
  float: right;
}

#rightBlock img {
  margin: 0 0 15px 0;
}

.badge.warning {
  background-color: #d9534f;
}

.badge.info {
  background-color: #337ab7;
}
