h3 = "Добавление заявки в Top50"
br
h4 = "Заявка успешно внесена!"

br
h4 = "Ваша заявка отправлена на рассмотрение модераторам"
h3 = "Идентификатор заявки (идентификатор вычислительной системы): #{@top50_machine.id}"

