- date_attr = @date_vals.find_by(obj_id: @bench.id)
- ldate = ""
- if date_attr.present?
  - ldate = date_attr.value
- num_attr = @num_vals.find_by(obj_id: @bench.id)
- lnum = ""
- if num_attr.present?
  - lnum = num_attr.value

h4 =  "Редакция №#{lnum} списка Top50 от #{ldate}"
h4 = "Компонента: #{@cop_vendor_attr_vals.find_by(obj_id: @cop.id).top50_dictionary_elem.name} #{@cop_model_attr_vals.find_by(obj_id: @cop.id).top50_dictionary_elem.name} (Количество систем: #{@top50_machines.count})"
= link_to t("Назад к списку"), top50_machines_archive_path(@bench), class: "btn btn-default"

= render "print_list"