javascript:
  function templateForIndex(index) {
    switch (index) {
      case 0:
        return '';
      case 1:
        return '<font color=red><b>ХХ сентября</b> заканчивается прием заявок</font> на \n' +
        'участие в ХХ-й редакции списка <b>Top50</b>. Объявление новой редакции \n' +
        'списка состоится ХХ сентября 20ХХг. в первый день работы международной \n' +
        'конференции <a href="http://russianscdays.org/">"Суперкомпьютерные дни в \n' +
        'России"</a> ';
      case 2:
        return '<font color=red><b>ХХ марта</b> заканчивается прием заявок</font> на \n' +
        'участие в ХХ-й редакции списка <b>Top50</b>. Объявление новой редакции \n' +
        'списка состоится 03 апреля на Международной научной конференции <a \n' +
        'href="http://agora.guru.ru/pavt/">"ПаВТ\'20ХХ"</a>, ХХХдцатой в серии \n' +
        'ежегодных конференций, посвященных развитию и применению параллельных \n' +
        'вычислительных технологий в различных областях науки и техники. ';
      case 3:
        return '<font color=red>Завершен</font> прием заявок на участие на участие в \n' +
        'ХХ-й редакции списка <b>Top50</b>. Объявление новой редакции списка \n' +
        'состоится ХХ сентября 2017г. в первый день работы международной \n' +
        'конференции <a href="http://russianscdays.org/">"Суперкомпьютерные дни в \n' +
        'России"</a> ';
      case 4:
        return '<font color=red><b>Завершен прием заявок</b></font> на участие в ХХ-й \n' +
        'редакции списка <b>Top50</b>. Объявление новой редакции списка состоится \n' +
        'ХХ апреля на Международной научной конференции <a \n' +
        'href="http://agora.guru.ru/pavt/">"ПаВТ\'20ХХ"</a>, ХХХдцатой в серии \n' +
        'ежегодных конференций, посвященных развитию и применению параллельных \n' +
        'вычислительных технологий в различных областях науки и техники. ';
      case 5:
        return '<font color=red>Опубликована</font> ХХ-ая редакция списка <b>Top50</b>. \n' +
        'Объявление новой редакции списка состоялось ХХ сентября 20ХХг. в первый \n' +
        'день работы международной конференции <a \n' +
        'href="http://russianscdays.org/">"Суперкомпьютерные дни в России"</a> ';
      case 6: 
        return '<font color=red>Опубликована</font> ХХ-ая редакция списка <b>Top50</b>. \n' +
        'Объявление новой редакции списка состоялось ХХ апреля 20ХХ г. на \n' +
        'Международной научной конференции <a \n' +
        'href="http://agora.guru.ru/pavt/">"ПаВТ\'20ХХ"</a>, ХХХдцатой в серии \n' +
        'ежегодных конференций, посвященных развитию и применению параллельных \n' +
        'вычислительных технологий в различных областях науки и техники. ';
    }
  }

  function selectedTemplate() {
    var index = document.getElementById("template_id").selectedIndex;
    var data = templateForIndex(index);
    CKEDITOR.instances.announce.setData(data);
  }

ruby:
  def templates
    return [
      ["Select", 1],
      ["ХХ сентября заканчивается прием заявок", 2],
      ["ХХ марта заканчивается прием заявок", 3],
      ["Завершен прием заявок... Объявление XX сентября", 4],
      ["Завершен прием заявок... Объявление XX апреля", 5],
      ["Опубликована ХХ-ая редакция списка Top50... Объявление состоялось ХХ сентября 20ХХг.", 6],
      ["Опубликована ХХ-ая редакция списка Top50... Объявление состоялось ХХ апреля 20ХХг.", 7]
    ]
  end