<h1>О проекте</h1>
<font size="3"><p align = "justify">Начиная с момента появления первых компьютеров, исследователи постоянно сталкивались с задачами, для решения которых существующих вычислительных мощностей было мало. Такие задачи возникали и возникают повсюду: аэродинамика и нефтедобыча, прогноз погоды и микроэлектроника, фармацевтика и проектирование новых материалов, криптография и биоинженерия - это лишь небольшой список областей, где для успешного продвижения вперед требуются компьютеры с действительно запредельной производительностью. </p>
<p align="justify">Чтобы помочь правильно сориентироваться в мире высокопроизводительных вычислительных систем и иметь возможность оперативно отслеживать тенденции развития данной области,
<a href="http://www.jscc.ru" target=new> Межведомственный суперкомпьютерный центр РАН </a> и <a href="http://srcc.msu.ru" target=new>Научно-исследовательский вычислительный центр МГУ имени М.В.Ломоносова </a> в мае 2004 года начали совместный проект по формированию списка 50 наиболее  мощных компьютеров СНГ.</p>
<p align="justify"> В список включаются 50 вычислительных систем, установленных на территории России и показавших к моменту выхода списка наибольшую производительность на тесте Linpack. Список обновляется два раза в год, правила представления данных для включения вычислительных систем в очередную редакцию списка представлены в <a href=”#regulation”>Положении о списке Топ50</a>.</p><p>Мы будем рады услышать Ваши пожелания и советы, предложения по сотрудничеству, пишите нам на <a href=”mailto:top50@parallel.ru”>top50@parallel.ru</a>. </p> </font>
<br>
<p align="left"><a href="about/download_pdf">Положение о рейтинге Топ50</a></p>
<p align="left"><a href="about/download_pdf">Письмо о включении СК в рейтинг</a></p>
