		/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.button {
  color: white;
  font-family: Arial;
  font-size: 14px;
  border-radius: 7px;
  font-weight: 600;
  text-align: center;
  padding: 4px 10px;
  opacity: 0.9;
  cursor: pointer;
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

table{
  border-collapse: separate;
  border-spacing: 2px;
}

th {
  background-color: #FFA500;
  color: white;
  vertical-align: middle;
  text-align: center;
}

a.whint {
  color: red;
}

a.new-m {
  color: green;
  font-size: 75%;
  font-weight: bold;
}

a.upg-m {
  color: orange;
  font-size: 75%;
  font-weight: bold;
}

a.arr-up {
  color: green;
}

a.arr-down {
  color: red;
}

.th-thin{
  font-weight: normal;
  white-space: nowrap;
}

.txt-ital{
  font-weight: normal;
  font-style: italic;
}

.table td.fit, 
.table th.fit {
    white-space: nowrap;
    width: 1%;
}
tr.tr-new-m {
  background-color: #FFFF99
}
